@import url("https://fonts.googleapis.com/css2?family=Allison&family=Lato:ital,wght@0,400;1,700&display=swap");

:root {
  --clr-one: #01161e;
  --clr-two: #124559;
  --clr-three: #598392;
  --clr-four: #aec3b0;
  --clr-five: #eff6e0;
  --clr-five-2: #eff6e0a2;
  --clr-five-3: #eff6e0de;
  --clr-six: #59839298;
}
/*=====================
General Layout
======================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.container {
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
}
/*=====================
Navigation Bar
======================*/
.navbar-fixed {
  background-color: var(--clr-five-2);
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 20px;
  font-size: 36px;
  font-family: "Allison", cursive;
  z-index: 5;
}

.navbar-fixed h1 {
  letter-spacing: 2px;
  font-size: 30px;
}
.navbar-fixed h1 > span {
  color: var(--clr-three);
}
.navbar-fixed i {
  font-size: 24px;
  cursor: pointer;
}
/* Drop Down Menu on Menu-Bars Icon click */
.navbar-dropdown {
  position: absolute;
  top: 50px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  background-color: var(--clr-five-3);
  width: 100%;
  z-index: 3;
}
.open-menu {
  height: 120px;
}
ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}
ul li {
  list-style: none;
  height: 33%;
  padding: 8px 0 0 20px;
  cursor: pointer;
}
ul li:hover {
  background-color: var(--clr-four);
}
li a {
  text-decoration: none;
  color: var(--clr-two);
  font-weight: 600;
}
/*^^^^^^^^^Navigation Bar^^^^^^^^^^^^^*/
/*=====================
Shopping Cart
======================*/
.shopping-cart-container {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: var(--clr-six);
  z-index: 9;
}
.shopping-cart {
  background-color: var(--clr-four);
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 0px;
  height: 100%;
  transition: all 0.3s linear;
  padding-top: 50px;
}
/* Following to be toggled with JS */
.open-cart {
  width: 300px;
}
.open-cart-background {
  display: block;
}
/**********Shopping Cart Header**********/
.cart-header {
  position: relative;
}
.cart-header button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--clr-three);
  color: white;
  padding: 1px 7px;
  font-size: 20px;
  border: 2px solid var(--clr-three);
  border-radius: 5px;
  cursor: pointer;
}
.cart-header button:hover {
  background-color: transparent;
  color: var(--clr-three);
}
.cart-header h3 {
  text-align: center;
  margin: 60px 0 20px 0;
  letter-spacing: 3px;
}
/**********Shopping Cart Items**********/
.cart-items-container {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}
.item {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.item img {
  width: 80px;
  height: 60px;
  object-fit: cover;
}
.item-info {
  padding-left: 10px;
  width: calc(100% - 80px); /* Item - img */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 900;
}
.item-info button {
  width: 50px;
  background-color: transparent;
  border: none;
  color: var(--clr-three);
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}
.item-quantity {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.item-quantity i {
  color: var(--clr-two);
  cursor: pointer;
}

/**********Shopping Cart Footer**********/
.cart-footer {
  text-align: center;
  font-weight: 900;
}
.cart-footer button {
  margin-top: 10px;
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  background-color: var(--clr-three);
  border: 3px solid var(--clr-three);
  cursor: pointer;
}
.cart-footer button:hover {
  background-color: transparent;
  color: var(--clr-three);
}

/**********Shopping Cart Menu Icon**********/
/* Menu Bar shopping cart Icon and num of items in cart */
.fa-shopping-cart {
  position: relative;
}
#num-items {
  background-color: orange;
  color: white;
  position: absolute;
  bottom: 12px;
  left: 14px;
  z-index: 2;
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
  border-radius: 5px;
  display: none;
  font-family: monospace;
}

/*=====================
Front Page
======================*/
.page-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}
.front-page {
  height: 100vh;
  background-image: url(./images/watchBG.jpg);
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
}
.welcome-text-container {
  text-transform: uppercase;
  font-size: 13px;
  width: 280px;
  height: 140px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.568);
  text-align: center;
}
.welcome-text-container button {
  margin-top: 20px;
  background-color: var(--clr-two);
  color: white;
  border: 2px solid var(--clr-two);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 24px;
  letter-spacing: 2px;

  cursor: pointer;
}
.welcome-text-container button:hover {
  background-color: transparent;
  color: var(--clr-two);
}

/*=====================
Products Page
======================*/
.products-page {
  height: 100%;
}
.products-page h2 {
  width: 200px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  padding: 50px 0;
}
.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* Each Product, dynamically inserted from JSON file*/
.product {
  z-index: 0;
  max-width: 260px;
  height: fit-content;
  margin: 10px 10px;
  text-align: center;
}
.product .image-container {
  position: relative;
}
.image-container img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s linear;
}
.image-container span {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 4px 10px;
  height: 25px;
  font-size: 16px;
  border: none;
  background-color: var(--clr-four);
  transition: all 0.2s linear;
  cursor: pointer;
  /* Change the following with JS */
  display: none;
  width: 0px;
  overflow: hidden;
}
.product p:first-of-type {
  font-weight: bolder;
  padding-top: 4px;
}
.product p:last-child {
  padding: 8px 0;
  color: var(--clr-two);
}

/*=====================
General Layout
======================*/
@media (min-width: 450px) {
  .navbar-fixed h1 {
    font-size: 50px;
  }
  .open-cart {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .welcome-text-container {
    width: 400px;
    height: 200px;
    padding: 50px 0;
    font-size: 16px;
  }
  .welcome-text-container button {
    margin-top: 40px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
  }
  .cart-footer button {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px 35px;
  }
}
@media (min-width: 1200px) {
  /* Nav bar max width */
  .navbar-fixed {
    max-width: 1200px;
    top: 0;
    left: 0;
    right: 17px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar-dropdown {
    max-width: 1200px;
    left: 0;
    right: 17px;
    margin: auto;
  }
}

@media (min-width: 1800px) {
  /* Cart slide in position */
  .shopping-cart-container {
    /* left: 0; */
  }
}
